.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  



  .heroSection1{
   display: flex;
   /* flex-direction: column; */
   align-items: center;
  }


  .heroImgContainer{

    width: 100%, 
    
  }
 

  .heroText1{
    display:flex;
    text-align: center;
    flex-direction:column;
    width: 100%;
    font-size: 30px;
  }


  .heroContactWrapper {
    /* //flex items-center self-start mt-2 lg:self-center */

    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 


  }




  .linkWrapper{
    display: flex; 
    flex-direction: row;
  width: 30px;
  height: 30px;
  text-decoration: underline;
  margin-top: 40px;
  }


  .heroTitle1{
    font-size: 45px;
    padding: 5px;
  }


  .heroTitle2{
    font-size: 45px;
    padding: 5px;
  }



  .heroText2 {
    font-size: 20px;
    width: 50%;
  }



  .heroSection1{
    /* flex w-full flex-col text-dark items-center justify-center */
    display: flex;
    flex-direction: column;
  }


  .heroSectionGrid {
    /* grid w-full grid-cols-8 gap-16 sm:gap-8  */

    display: flex;
    flex-direction: column;
   
    
  }

  .heroSection2{
    margin-top: 60px;
    display:flex;
    flex-direction:column;
    align-items: center;
  }



  .heroSection2Img {
   
  width: 500px;




  }

  .heroAction {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    font-weight: 900;
    align-items: center;
    width: 100%;
  }

  .sliderContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    display:flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
    justify-content: center;

  }
  @media (max-width:610px) {

    .heroSection1{
      flex-direction: column;
    }

    
    
  .heroAction {
    font-size: 25px;}
    .heroTitle1{
      font-size: 30px;
      padding: 5px;


    }

    .heroText1{
      font-size: 20px
    }

  .heroContactWrapper {


    flex-direction:column;
    width: 100%;
    align-items: center	;
    justify-content: center;

    
    
  }
    

  .heroText2{
    font-size: 20px;
    width: 80%;

  }
  }
  @media (max-width:350px) {

    .heroText1{
      font-size: 15px;
    }
    
  }