.my_custom_class {
    margin-top: 2rem; /* Adjust as needed */
    margin-bottom: 2rem; /* Adjust as needed */
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    height: fit-content;
  }
  
  .my_custom_class:first-child {
    margin-top: 0;
  }
  
  .my_custom_class:last-child {
    margin-bottom: 0;
  }

.roundedWrapper {
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    background-color: black;
    width: 5px;

}

.rounded {
    height: 1em;
    border-radius: 100%;
    background-color: black;
}

.detailWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  width: 100%;
}


.main {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: left;
}

.root{
  margin-top: 4rem; /* 64 * 0.25rem = 16rem, ou seja, 64px em Tailwind */
  margin-bottom: 4rem; /* 64 * 0.25rem = 16rem, ou seja, 64px em Tailwind */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-dark); /* ou a cor desejada para o modo claro */
}

.root2{
  font-weight: bold;
  margin-bottom: 8rem; /* 32 * 0.25rem = 8rem, ou seja, 32px em Tailwind */
  font-size: 5rem; /* 8xl em Tailwind é aproximadamente 5rem */
  text-align: center;
  border-bottom: 2px solid currentColor;
  width: 90%;
  z-index: 99999;
    position: relative;

  display: inline;
}

.list{
  margin-top: 20px;
}

.detailInfo{
  text-transform: capitalize;
  font-size: 1.5rem; /* 2xl em Tailwind é aproximadamente 1.5rem */
  color: rgba(0, 0, 0, 0.75);
}

.detailInfoPlus{
  font-size: 1.5rem; /* text-2xl em Tailwind é aproximadamente 1.5rem */
  width: 100%; /* w-full em Tailwind é 100% */
}
.infoType{
  font-weight: bold;
  font-size: 1.875rem; 

}